.main {
  background-color: tomato;
  color: white;
}
.main h1 {
  font-size: 2rem;
  text-align: center;
}
.main p {
  font-size: 1rem;
  text-align: center;
}
.main a {
  color: white;
  text-decoration: none;
}
.main a:hover {
  color: tomato;
}
